<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
    <script src="/js/script.js" defer></script>

    <title>Load Countries</title>
</head>

<body>
    <main>
        <header><h1 class="header">Formulario de entrada de datos</h1></header>
        <div class="w3-container w3-row">
            <form class="w3-container w3-card-4 w3-quarter" action="/post-country" method="POST"><!-- falta unos atributos -->
                <h1>Select Your Country</h1>

                <select class="w3-select">
                  <option value="" disabled selected>Select A Country</option>
                  <option value="spain" name="countryName">España</option>
                  <option value="venezuela" name="countryName">Venezuela</option>
                  <option value="peru" name="countryName">Peru</option>
                  
                </select>

                <label for="population">Population: </label>
                <input class="w3-input" type="number" id="population"></input>

                <label for="urlFlag">URL Flag: </label>
                <input class="w3-input" type="text" id="urlFlag"></input>

                <p><input value="enviar" type="submit" class="w3-btn w3-teal"></input>
                </p>
            </form>
            <div class="w3-container w3-card-4 w3-quarter">
                <img id="imatgeSeleccionada" src="" alt="">
            </div>
        </div>
    </main>
</body>

</html>